# Xcode
#
# Gitignore should be customized to your project.
# To learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Build artifacts
build/
DerivedData/

# Personal settings
xcuserdata/

# OS X
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# External dependencies
Carthage/Build/
